html, body{
    margin: 0%;
    padding: 0%;
}

p{
    text-align: center;
    text-justify: auto;
    color: black;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    font-size: 14px;
}
h1{
    color: green;
    font-size: 25px;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
}
h2{
    text-align: right;
    color: blue;
    font-size: 20px;
}
img{
    height: 100px;
    width: 200px;
}

a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
    padding-right: 20px;
    text-decoration: none;
}

a:visited{
    color: blueviolet;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color:red;
}

nav{
    text-align: center;
}

#em_contrucao{
    height: 200px;
    width: 200px;
}
#titulo{
    color: #ff0000;
    font-size: 30px;
}
div{
    margin-left: 10pt;
    padding-top: 5px;
    /*text-align: center;*/
}
input{
    width: 100px;
}
.campo{
    width: 500px;
}

.coluna{
    width: 50%;
    float: left;
    box-sizing:content-box;
}
.grid_container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: aquamarine;
    padding: 10px;
}

thead{
    font-weight: bold;
}

.contanier{
    background-color: #00ff0034 !important;
}