p{
    text-align: center;
    text-justify: auto;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
h1{
    color: green;
    font-size: 25px;
}
h2{
    text-align: right;
    color: blue;
    font-size: 20px;
}
img{
    height: 50px;
    width: 120px;
}
#em_contrucao{
    height: 200px;
    width: 200px;
}
div{
    margin-left: 10pt;
    padding-top: 5px;
}
input{
    width: 100px;
}
.campo{
    width: 500px;
}